*{margin: 0%;
    padding: 0%;
    box-sizing: 0%;
  }


  

  body{

        width: 100vw;
        height: 100vh;
        background-image: url(img/boto\ cor\ de\ rosa.webp);
        background-color:blac#00000055;
        background-blend-mode: darken;
        background-size: cover;
        background-position: right top;
        display: flex;
        flex-direction: column;
        font-family: 'Karla', sans-serif;
        color: white;
    
    }

  header {

    background-color: #000000AA;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;

}
main{
    padding-top: 25vh;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-grow: 1;
}

.barra{
    color: red;
    font-size: 40px;
}

.Geral{
    display: flex;
    justify-content: space-between; 
    max-width: 50vw; 
    margin-top: 50px;

}


main h1{
    font-family: calibri;
    font-size: 100px;
    color: rgba(8, 8, 8, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
   
main h3{

    transform: rotate(270deg);
    color: red;
    font-size: 35px;


}
    main p{

    font-size: 20px;
    font-weight: 200; 
    max-width: 300px; 
    color:white;
    font-weight: bold; 
}


h2, h4{
    font-weight: 200;
}

.paragrafo{
    display: flex;
}

.links ul {

    display: flex;
    gap: 20px;
    color: white;
    list-style: none;

}



.links a {

    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 1s;

}



.links a:hover {
    color: red;

}
footer

{
    height: 30px;
    text-align: center;
    font-style: italic;
    align-items: center;

}