*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    background-color: #000000AA;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.logo img{
    width: 120px;
}

.links ul {
    /* position: relative;
    top: 0px;
    left: 0px; */
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 1s;
}

.links a:hover {
    color: red;
}

.links ul .submenu {
    margin-top: 1px;
    display: none;
    position: absolute;
    font-size: 12px;
}

.links li ul{
    position: relative;
}

/* .links ul:hover > .submenu{
    display: block;
 }  */

 .submenu {
    background-color: #000000BB;
 }

.submenu a{
    /* position: absolute;
    width: 500%;
    */
    display: flex;
    justify-content: flex-start;
    /* padding-left: 20px; */
}

.submenu a:hover {
    border-left: 10px solid red;
}

.links li:hover > .submenu{
    display: flex;
    flex-direction: column;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("img/cidade_invisivel.png");
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: white;
    background-color: #00000055;
    background-blend-mode: darken;
}

main{
flex-grow: 1;
padding: 25vh 10vw;
}

main h2{
    font-size: 30px;
}

main h1{
    font-size: 70px;
}

main p{
    font-size: 25px;
    font-weight: 200;
    width: 800px;
    max-width: 800px;
}

main a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: goldenrod;
    border-radius: 2px;
    margin-top: 30px;
}

main a:hover{
    border: solid 1px goldenrod;
    background-color: black;
    transition: all 0,5s;
}

footer{
text-align: center;
height: 40px;
}

.butterfly{
    position: absolute;
    width: 60px;
    top: 90vh;
    left: 90vw;
    filter: brightness(10%);
    animation: voar 20s Linear infinite;
}

@keyframes voar {
    0%{
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-1000px, -700px);
    }
}
